/****** Base Styles ******/
@font-face{
	font-family:'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html{
	font-size: 16px;
}

body{
	font-family:'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,h2,h3,h4{
	color:black;
	text-transform:uppercase;
	font-weight:700px;
}

h1{
	font-size:1.875em;
}

h2{
	font-size:1.5em;
}

h3{
	font-size:1.125em;
}

h4{
	font-size:0.75em;
}

p{
	font-size:1em;
	line-height:23px;
	padding:0px 30px;
}

/****** Header ******/

header{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:3px solid #77a466;
	margin: 0 auto;
	flex-flow: row wrap;
}

header h1{
	text-align: center;
	width: 100%;
	margin:0px;
	border-bottom: 3px solid #77a466;
}

header h1 span{
	color:#77a466;
}

header nav{
	padding:46px 0;
}

nav ul li{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-bottom: 25px;
	margin:0 auto;
}

nav ul li a{
	color:#77a466;
	font-weight:bold;
	font-size:0.875em;
	text-transform:uppercase;
	text-decoration:none;
	padding: 0px 10px;
}
	
.top-section,.bottom-section{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	margin:0px auto;
} 

.main-image img{
	border-bottom:3px solid #77a466;
	width: 100%;
}

.main-title h3{
	text-align:left;
	color:#77a466;
	padding:5px 0px;
}

.main-title p{
	padding:0px;
	font-size:16px;
	line-height:25px;
}

/***** Bottom Section *****/

.section-one,.section-two,.section-three{
	width:100%;
	border-top:1px solid #eee;
}

.section-one h4{
	padding:10px 0px;
}

.section-two h4,.section-three h4{
	padding:10px 0px;
}

.menu{
	list-style:none;
	padding:0px;
}

.menu li{
	color:#77a466;
	padding:10px 0px;
}

.reviews{
	color:#333333;
	font-size:1em;
	line-height:21px;
	padding:10px 0px;
}

.address{
	font-size:1em;
	line-height:24px;
	padding:10px 0px;
}

footer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top:3px solid #eee;
	margin:0px auto;
	text-align:center;
}

footer span{
	font-family:'Wisdom Script',cursive;
	color:#77a466;
	text-transform:lowercase;
	font-size:14px;
}

@media all and (min-width: 768px){
	.bottom-section{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: row wrap;
		margin:0px auto;
	} 

	.section-one,.section-two,.section-three{
		width:100%;
		border-top:1px solid #eee;
	}
}

@media all and (min-width: 1200px){
	header nav ul{
		display: flex;
		justify-content: space-between;
	}
}